<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form>
    <label>Id:</label><br>
    <input [(ngModel)]="studentForm.id"><br>
    <label>ФИО:</label><br>
    <input [(ngModel)]="studentForm.name"><br>
    <label>Дата:</label><br>
    <input [(ngModel)]="studentForm.date"><br>
    <label>Время:</label><br>
    <input [(ngModel)]="studentForm.time"><br>
    <label>Группа:</label><br>
    <input [(ngModel)]="studentForm.group"><br>
    <button (click)="createStudent()">Сохранить</button>
  </form>
  <table>
    <tr *ngFor="let student of students"><td>{{student}}</td></tr>
  </table>
  <rainbow></rainbow>
</body>
</html>