<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form>
    <div class="form-group">
      <label>Id:</label><br>
      <input [(ngModel)]="studentForm.id" name="id" class="form-control"><br>
      <label>ФИО:</label><br>
      <input [(ngModel)]="studentForm.name" name="name" class="form-control"><br>
      <label>Дата:</label><br>
      <input [(ngModel)]="studentForm.date" name="date" class="form-control"><br>
      <label>Время:</label><br>
      <input [(ngModel)]="studentForm.time" name="time" class="form-control"><br>
      <label>Группа:</label><br>
      <input [(ngModel)]="studentForm.group" name="group" class="form-control"><br>
      <button (click)="createStudent()" class="form-control">Сохранить</button>
    </div>
  </form>

  <table>
    <tr>
      <th>Id</th>
      <th>ФИО</th>
      <th>Дата</th>
      <th>Время</th>
      <th>Группа</th>
    </tr>
    <tr (ngModel)="students" ngDefaultControl *ngFor="let student of students">
      <td>{{student.id}}</td>
      <td>{{student.name}}</td>
      <td>{{student.date}}</td>
      <td>{{student.time}}</td>
      <td>{{student.group}}</td>
    </tr>
  </table>
  
  <form>
    <div class="form-group"> 
      <rainbow></rainbow>
    </div>
  </form>
</body>
</html>